* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("./airport.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input-holder {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 50%;
}

.airport {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.airport-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.maps {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
